 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 .body{
   background-color: rgb(222, 184, 184);
 }

 .container-fluid {
    background-color: rgb(128, 95, 95);
 }
 
 .logo{
    height: 125px;
    size: 70px;
 }
 .navbar-brand {
    height: 135px;
    align-items: right;
 }
 .mail {
    height: 20px;
    size: 50px;
 }
 
.navbar-nav{
    text-align: end;
}
#navbarn{
 display: flex;
 margin-left: 55vw;
 
}
/*landing*/
.landing{
   width: 100%;
   padding: 80px 12%;
}
.rowH{
   display: flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
   align-content: center;
   align-items: center;
   padding-top: 40px;
   padding-bottom: 40px;
}
.colH{
   flex-basis: 50%;
}
.colH h1{
   padding-top: 150px;
   color: #fff;
   text-shadow: 2px 2px 4px #000;
   font-size: 60px;
}
.colH h3{
   color: #fff;
   text-shadow: 2px 2px 4px #000;
   font-size: 40px;
}
.colH p{
   color: #fff;
   text-shadow: 2px 2px 4px #000;
   padding-bottom: 40px;
   font-size: 20px;
}
   .background{
    background-color:rgb(222, 184, 184);
   }
 
  /*about*/
.about{
   width: 100%;
   padding: 80px 12%;
   color: #fff;
   position: relative;
}
.row-about{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-content: center;
   align-items: center;
   padding-top: 40px;
   padding-bottom: 40px;
}
.col-about{
   flex-basis: 50%;
}
.col-about img{
   width: 220px;
   height: 220px;
}
.about h2{
   text-shadow: 2px 2px 4px #000;
   }

   #section {
      height: 100vh;
   }
/*my skills*/
.skills{
   
}








/*testimonials*/
.card{
   
}







   /*contact*/
.contact{
   width: 100%;
   padding: 80px 12%;
   color: #fff;
   position: center;
}
.contact h2{
   padding-bottom: 40px;
   text-shadow: 2px 2px 4px #000;
   font-size: 40px;
   color: #fff;
}
.contact-form{
   padding: 10px;
}